@import url('https://fonts.googleapis.com/css?family=Barrio|Playfair+Display+SC:700,900|Lora:400,700');

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
$bkg: #fff;
$accent: magenta;
$body-text: #222;
$heading-text: magenta;
$body-font: "Barrio", sans-serif;
$heading-font: "Lora", serif;

html, body{
  margin: 0; padding: 0;
  background: $bkg;
  width: 100%;
  overflow-x: hidden;
}
h2{
  font-family: $heading-font;
  color: $heading-text;
  font-size: 15px;
}
a{
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  font-family: $body-font;
  &:hover{
    color: $accent;
  }
}
.nav-link{
  color: #222;
}
.main-wrap, .main-dash{
  width: 100%;
  height: 100%;
  @include flex-center;
}
.login-btn-wrap{
  width: 100%;
  text-align: center;
}
.login-btn{
  text-decoration: none;
  display: inline-block;
  width: 30%;
  line-height: 50px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid $heading-text;
  font-family: sans-serif;
  color: $heading-text;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
  transition: all 0.3s;
  &:hover{
    background: $heading-text;
    color: $bkg;
    letter-spacing: 2px;
    box-shadow: none;
  }
}
.header-contain{
  position: fixed;
  top:0;
  z-index: 9;
  background: white;
  padding-bottom: 5px;
  width: 100%;
  & h2, & span, & p{
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    transition: all 0.3s;
  }
}
.welcome-bar{
  float: left;
  text-transform: lowercase;
  & h2, & span{
    display: inline-block;
  }
  & span{
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline; }
  & span:hover{
    color: $accent;
  }
}
.search-bar{
  float: right;
  width: 50%;
  text-align: right;
  margin-right: 10px;
  & input[type='text']{
    width:60%;
    border: 0;
    border-bottom: 2px solid $accent;
    line-height: 30px;
    padding: 0;
    font-size: 13px;
    border-radius: 0;
    transition: all 0.3s;
    letter-spacing: 0.75px;
    text-align: center;
    outline: none;
    color: black;
    &:focus{
      background: rgba(0,0,0,0.7);
      color: $accent;
    }
  }
  & .select-wrapper{
    width: 20%;
    min-width: 60px;
    display: inline-block;
    margin: 0px 10px;
    & .select-dropdown{
      border-width: 2px;
      color: #222;
      font-family: $body-font;
      font-size: 16px;
      border-top: 0px;
      cursor: pointer;
      & option{
        background: #222;
        color: $accent;
      }
    }
    &:after{
      border-top: 10px solid $accent;
    }
  }
  & button.search-btn{
    cursor: pointer;
    outline: none;
    display: inline-block;
    border: 0;
    background: black;
    font-family: $body-font;
    border-bottom: 2px solid $accent;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    font-size:16px;
    padding: 0px 15px;
    transition: all 0.3s;
    &:hover{
      background: $accent;
    }
  }
}
.main-contain{
  clear: both;
}
.dash-block{
  padding: 30px;
  min-width: 250px;
  background: #111;
  color: white;
  float: left;
  margin: 10px;
  text-align: center;
  font-family: $body-font;
  letter-spacing: 2px;
  border: 2px solid $heading-text;
  & h2{
    margin-top: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  & ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
}
.currently-playing-wrap{
  width: 35%;
  height: 50px;
  font-family: $body-font;
  position: fixed;
  background: #222;
  bottom: 0;
  color: white;
  border-left: 3px solid $accent;
  right: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & p{ margin: 0; }
  & .currently-playing{
    margin: 0px 20px;
    & img, & p{ display: inline-block; vertical-align: middle; margin: 0px 5px;}
    & img{
      height: 40px;
    }
    & p{
      text-align: left;
      & span{ font-style: italic; font-family: sans-serif; font-size: 10px; }
    }
  }
}

.artist-contain{
  @include flex-center;
  width: 100%;
  height: 100%;
  & .content{ width: 100%; height: 100%;}
  & h1{
    font-family: $body-font;
    text-align: center;
    //text-shadow: 5px 5px 0px $accent, -3px -7px 0px rgba(teal, 0.7);
    margin: 0;
    font-size: 10vmax;
    line-height: 8vmax;
    position:relative;
    z-index: 2;
    text-transform: uppercase;
  }
  & .info{
    text-align: center;
    position: relative;
    z-index: 2;
  }
  & .dash-block{
    display: inline-block;
    max-width: 400px;
    float: none;
    border: 3px solid white;
    vertical-align: top;
  }
  & .artist-img{
    width: 450px;
    height: 450px;
    position: fixed;
    bottom: -90px;
    right: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 50px -200px 0px 500px coral;
    border-radius: 50%;
    overflow: hidden;
    @include flex-center;
    & img{
      min-height: 100%;
      min-width: 100%;
    }
  }
  & .artist-score{
    color: $accent;
  }
}
.topArtists.dash-block{
  min-height: 250px;
}
.select-dropdown{
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
  margin: 10px 0;
  z-index: 2;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: $accent transparent;
  line-height: 20px;
  padding: 5px;
  color: white;
  position: relative;
  background: transparent;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.select-wrapper{
  position: relative;
}
.select-wrapper:after{
    content:'';
    position: absolute;
    right: 5px;
    top: 40%;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid white;
}

.artist-contain .albums-container.dash-block{
  min-width: 350px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  max-width: 10000px;
  max-height: 300px;
  height: 150px;
  width: 75%;
  border: none;
  background: transparent;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
  & .album-row{
    position: absolute;
    padding-right: 25px;
    min-width: 90%;
    text-align: center;
  }
  & .album{
    height: 145px;
    width: 145px;
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
    & span{
      white-space: normal;
      display: block;
      padding: 10px;
      box-sizing: border-box;
      width: 101%;
      height: 101%;
      color: $accent;
      background: rgba(0,0,0,0.7);
      @include flex-center;
      opacity: 0;
      position: absolute;
      font-family: sans-serif;
      font-size: 10px;
      text-transform: uppercase;
      transition: all 0.3s;
    }
    & img{
      height: 100%;
      box-shadow: -3px 3px 0px rgba(0,0,0,0.3);
    }
    &:hover span{
      opacity: 1;
    }
  }
}

.genre-block ul{
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 80%;
  text-align: center;
  margin: 10px auto;
  & li{
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    & a{
      color: black;
      font-family: sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: bold;
      font-size: 11px;
      &:hover{ color: $accent; }
    }
    &:nth-child(n+2):before{
      content: '/';
      position: absolute;
      left: 0;
      font-size: 11px;
    }
  }
}

.track-contain, .search-contain{
  @include flex-center;
  width: 100%;
  height: 100%;
}

.search-contain h3{
  font-family: $body-font;
  font-size: 4vmax;
  text-align: center;
  & span.search-term{
    color: $accent;
    font-size: 6vmax;
  }
}
.genre-contain{
  margin-top: 80px;
}
.genre-contain h1, .search-contain h1{
    font-family: $body-font;
    text-align: center;
    //text-shadow: 5px 5px 0px $accent, -3px -7px 0px rgba(teal, 0.7);
    margin: 0;
    font-size: 4vmax;
    position:relative;
    z-index: 2;
    text-transform: uppercase;
}

.genre-contain ul, .search-contain ul{
  list-style: none;
  margin: 0; padding: 0;
  width: 80%;
  text-align: center;
  margin: 40px auto;
  & li{
    display: inline-block;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    margin: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    & a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }
    & span{
      width: 100%;
      height: 50px;
      @include flex-center;
      background: rgba(0,0,0,0.7);
      color: $accent;
      opacity: 1;
      transition: all 0.4s;
      border-radius: 0px 0px 10px 10px;
      position: absolute;
      bottom: 0;
    }
  }
}

.nav-link{
  display: block;
}

.loader{
	width: 50px;
	height: 10px;
	transform: skewX(45deg);
	background: $accent;
	animation: loading 0.3s linear infinite;
	box-shadow: 0px 0px 10px coral;
}
@keyframes loading{
	100%{
		border-radius: 0;
		transform: skewX(45deg) rotate(540deg);
	}
}

@media all and (max-width: 600px){
  .navigation-contain{
    position: fixed;
    bottom: 0;
    height: 10vh;
    min-height: 50px;
    width: 100%;
    z-index: 4;
    box-shadow: 0px -1px 10px rgba(magenta, 0.7);
    & > div{
      width: 100%;
      height: 100%;
      background: $bkg;
    }
  }
  .navigation-bar{
    width: 100%;
    display: block;
    position: relative;
    & ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      & li{
        height: 100%;
        width: 25%;
        cursor: pointer;
        font-family: sans-serif;
        text-transform: uppercase;
        color: magenta;
        padding: 10px;
        box-sizing: border-box;
        & img{
          height: 100%;
        }
      }
    }
  }
  .main-contain{
    height: 90vh;
    overflow: scroll;
    background: white;
  }
  .main-dash{
    height: 100%;
    display: block;
    padding-top: 15px;
  }
  .dash-block{
    width: 90%;
    margin: 0 auto 20px auto;
    float: none;
    box-sizing: border-box;
    & ul{
      font-size: 20px;
      text-align: center;
      & a{
        display: block;
        padding: 3px 0;
      }
    }
  }
  .login-btn-wrap{
    width: 100%;
    height: 100%;
    @include flex-center;
    & .login-btn{
      width: 80%;
    }
  }
  .search-bar{
    float: none;
    width: 100%;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,0.9);
    padding: 30px 0;
    height: 150px;
    top: 80px;
    box-shadow: 0px -5px 20px rgba($accent,0.7);
    z-index: -1;
    transition: top 0.3s ease-in-out;
    &.active{
      top: -210px;
    }
    & input[type='text']{
      display: block;
      width: 90%;
      color: white;
      margin: 0 auto;
      font-size: 16px;
      font-weight: 200;
      line-height: 45px;
      //border-radius: 10px;
      background: black;
      border: 1px solid $accent;
      &:focus{
        color: white;
        box-shadow: 0px 0px 20px $accent;
      }
    }
    & .select-wrapper{
      display: block;
      width: 90%;
      margin: 0 auto;
      & .select-dropdown{
        line-height: 40px;
        padding-left: 20px;
        font-size: 20px;
        color: white;
        //border-radius: 10px;
        border: 1px solid $accent;
        border-top: 1px solid $accent;
      }
      &:after{
        top: 45%;
        right: 15px;
      }
    }
    & button.search-btn{
      display: block;
      width: 80%;
      margin: 0 auto;
      //border-radius: 10px;
      background: $accent;
      line-height: 40px;
    }
  }

  .artist-contain{
    display: block;
    & .contents{
      color: coral;
      text-align: center;
    }
    & h1{
      margin: 15px 0 10px 0;
    }
    & .artist-img{
      width: 50vmin;
      height: 50vmin;
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      box-shadow: none;
      display: block;
    }
    & .genre-block{
      position: relative;
      margin-bottom: 20px;
      overflow: hidden;
      max-height: 70px;
      & ul{
      width: 100%;
        & li a{
          font-weight: 200;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0.75px;
        }
      }
    }
  }
  .genre-contain, .search-contain{
    margin: 0;
    display: block;
    & h1{
      position: fixed;
      top: 0;
      margin: 0;
      text-align: center;
      width: 100%;
      padding: 15px 0;
      background: magenta;
      color: white;
      font-family: $body-font;
      font-size: 25px;
    }
    & .contents{
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    & .results-container{
      padding-top: 80px;
      height: 100%;
      box-sizing:border-box;
      & ul{
        min-width: 100%;
        height: 100%;
        margin: 0;
        overflow-x:scroll;
        white-space: nowrap;
        & li{
          width: 90%;
          height: 95%;
          & span{
            height: 30%;
            min-height: 60px;
            font-size: 25px;
            white-space: normal;
          }
        }
      }
    }
  }
}
