@import url('https://fonts.googleapis.com/css?family=Barrio|Playfair+Display+SC:700,900|Lora:400,700');

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
$bkg: #fff;
$body-text: #222;
$heading-text: magenta;
$body-font: "Barrio", sans-serif;
$heading-font: "Lora", serif;

html, body{
  margin: 0; padding: 0;
  background: $bkg;
  width: 100%;
  overflow-x: hidden;
}
h2{
  font-family: $heading-font;
  color: $heading-text;
  font-size: 15px;
}
a{
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  font-family: $body-font;
  &:hover{
    color: magenta;
  }
}
.main-wrap, .main-dash{
  width: 100%;
  height: 100%;
  @include flex-center;
}
.login-btn-wrap{
  width: 100%;
  text-align: center;
}
.login-btn{
  text-decoration: none;
  display: inline-block;
  width: 30%;
  line-height: 50px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid $heading-text;
  font-family: sans-serif;
  color: $heading-text;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
  transition: all 0.3s;
  &:hover{
    background: $heading-text;
    color: $bkg;
    letter-spacing: 2px;
    box-shadow: none;
  }
}
.header-contain{
  position: fixed;
  top:0;
  z-index: 9;
  width: 100%;
  & h2, & span, & p{
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    transition: all 0.3s;
  }
}
.welcome-bar{
  float: left;
  text-transform: lowercase;
  & h2, & span{
    display: inline-block;
  }
  & span{
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline; }
  & span:hover{
    color: magenta;
  }
}
.nav-bar{
  float: right;
}
.main-contain{
  clear: both;
}
.dash-block{
  padding: 30px;
  background: #111;
  color: white;
  float: left;
  margin: 10px;
  text-align: center;
  font-family: $body-font;
  letter-spacing: 2px;
  border: 2px solid $heading-text;
  & h2{
    margin-top: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  & ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
}
.currently-playing-wrap{
  width: 35%;
  height: 50px;
  font-family: $body-font;
  position: fixed;
  background: #222;
  bottom: 0;
  color: white;
  border-left: 3px solid magenta;
  right: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & p{ margin: 0; }
  & .currently-playing{
    margin: 0px 20px;
    & img, & p{ display: inline-block; vertical-align: middle; margin: 0px 5px;}
    & img{
      height: 40px;
    }
    & p{
      text-align: left;
      & span{ font-style: italic; font-family: sans-serif; font-size: 10px; }
    }
  }
}

.artist-contain{
  @include flex-center;
  width: 100%;
  height: 100%;
  & .content{ width: 100%; height: 100%;}
  & h1{
    font-family: $body-font;
    text-align: center;
    //text-shadow: 5px 5px 0px magenta, -3px -7px 0px rgba(teal, 0.7);
    margin: 0;
    font-size: 10vmax;
    position:relative;
    z-index: 2;
    text-transform: uppercase;
  }
  & .track-info{
    text-align: center;
    position: relative;
    z-index: 2;
  }
  & .dash-block{
    display: inline-block;
    max-width: 400px;
    float: none;
    border: 3px solid white;
    vertical-align: top;
  }
  & .artist-img{
    width: 450px;
    height: 450px;
    position: fixed;
    bottom: -90px;
    right: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 50px -200px 0px 500px coral;
    border-radius: 50%;
    overflow: hidden;
    @include flex-center;
    & img{
      min-height: 100%;
      min-width: 100%;
    }
  }
  & .artist-score{
    color: magenta;
  }
}
