@import url(https://fonts.googleapis.com/css?family=Barrio|Playfair+Display+SC:700,900|Lora:400,700);html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  width: 100%;
  overflow-x: hidden; }

h2 {
  font-family: "Lora", serif;
  color: magenta;
  font-size: 15px; }

a {
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  font-family: "Barrio", sans-serif; }
  a:hover {
    color: magenta; }

.nav-link {
  color: #222; }

.main-wrap, .main-dash {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.login-btn-wrap {
  width: 100%;
  text-align: center; }

.login-btn {
  text-decoration: none;
  display: inline-block;
  width: 30%;
  line-height: 50px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid magenta;
  font-family: sans-serif;
  color: magenta;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s; }
  .login-btn:hover {
    background: magenta;
    color: #fff;
    letter-spacing: 2px;
    box-shadow: none; }

.header-contain {
  position: fixed;
  top: 0;
  z-index: 9;
  background: white;
  padding-bottom: 5px;
  width: 100%; }
  .header-contain h2, .header-contain span, .header-contain p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    transition: all 0.3s; }

.welcome-bar {
  float: left;
  text-transform: lowercase; }
  .welcome-bar h2, .welcome-bar span {
    display: inline-block; }
  .welcome-bar span {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline; }
  .welcome-bar span:hover {
    color: magenta; }

.search-bar {
  float: right;
  width: 50%;
  text-align: right; }
  .search-bar input[type='text'] {
    width: 75%;
    border: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid magenta;
    line-height: 30px;
    padding: 0;
    font-size: 13px;
    border-radius: 0;
    transition: all 0.3s;
    letter-spacing: 0.75px;
    text-align: center;
    outline: none;
    color: black; }
    .search-bar input[type='text']:focus {
      border-left: 2px solid magenta;
      border-right: 2px solid magenta;
      color: magenta; }
  .search-bar button.search-btn {
    cursor: pointer;
    outline: none;
    display: inline-block;
    border: 0;
    background: white;
    font-family: "Barrio", sans-serif;
    border-bottom: 2px solid magenta;
    line-height: 30px;
    color: #222;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0px 15px;
    margin: 0px 10px; }
    .search-bar button.search-btn:hover {
      background: magenta;
      color: white; }

.main-contain {
  clear: both; }

.dash-block {
  padding: 30px;
  min-width: 250px;
  background: #111;
  color: white;
  float: left;
  margin: 10px;
  text-align: center;
  font-family: "Barrio", sans-serif;
  letter-spacing: 2px;
  border: 2px solid magenta; }
  .dash-block h2 {
    margin-top: 0;
    font-size: 12px;
    text-transform: uppercase; }
  .dash-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left; }

.currently-playing-wrap {
  width: 35%;
  height: 50px;
  font-family: "Barrio", sans-serif;
  position: fixed;
  background: #222;
  bottom: 0;
  color: white;
  border-left: 3px solid magenta;
  right: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .currently-playing-wrap p {
    margin: 0; }
  .currently-playing-wrap .currently-playing {
    margin: 0px 20px; }
    .currently-playing-wrap .currently-playing img, .currently-playing-wrap .currently-playing p {
      display: inline-block;
      vertical-align: middle;
      margin: 0px 5px; }
    .currently-playing-wrap .currently-playing img {
      height: 40px; }
    .currently-playing-wrap .currently-playing p {
      text-align: left; }
      .currently-playing-wrap .currently-playing p span {
        font-style: italic;
        font-family: sans-serif;
        font-size: 10px; }

.artist-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }
  .artist-contain .content {
    width: 100%;
    height: 100%; }
  .artist-contain h1 {
    font-family: "Barrio", sans-serif;
    text-align: center;
    margin: 0;
    font-size: 10vmax;
    line-height: 8vmax;
    position: relative;
    z-index: 2;
    text-transform: uppercase; }
  .artist-contain .info {
    text-align: center;
    position: relative;
    z-index: 2; }
  .artist-contain .dash-block {
    display: inline-block;
    max-width: 400px;
    float: none;
    border: 3px solid white;
    vertical-align: top; }
  .artist-contain .artist-img {
    width: 450px;
    height: 450px;
    position: fixed;
    bottom: -90px;
    right: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 50px -200px 0px 500px coral;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    .artist-contain .artist-img img {
      min-height: 100%;
      min-width: 100%; }
  .artist-contain .artist-score {
    color: magenta; }

.topArtists.dash-block {
  min-height: 250px; }

.topArtists select {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
  margin: 10px 0;
  z-index: 2;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: magenta transparent;
  line-height: 20px;
  padding: 5px;
  color: white;
  position: relative;
  background: transparent;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.select-wrapper {
  position: relative; }

.select-wrapper:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 40%;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid white; }

.artist-contain .albums-container.dash-block {
  min-width: 350px;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  max-width: 10000px;
  max-height: 300px;
  height: 150px;
  width: 75%;
  border: none;
  background: transparent;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; }
  .artist-contain .albums-container.dash-block .album-row {
    position: absolute;
    padding-right: 25px;
    min-width: 90%;
    text-align: center; }
  .artist-contain .albums-container.dash-block .album {
    height: 145px;
    width: 145px;
    position: relative;
    display: inline-block;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer; }
    .artist-contain .albums-container.dash-block .album span {
      white-space: normal;
      display: block;
      padding: 10px;
      box-sizing: border-box;
      width: 101%;
      height: 101%;
      color: magenta;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      position: absolute;
      font-family: sans-serif;
      font-size: 10px;
      text-transform: uppercase;
      transition: all 0.3s; }
    .artist-contain .albums-container.dash-block .album img {
      height: 100%;
      box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.3); }
    .artist-contain .albums-container.dash-block .album:hover span {
      opacity: 1; }

.genre-block ul {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 80%;
  text-align: center;
  margin: 10px auto; }
  .genre-block ul li {
    display: inline-block;
    padding: 0px 10px;
    position: relative; }
    .genre-block ul li a {
      color: black;
      font-family: sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: bold;
      font-size: 11px; }
      .genre-block ul li a:hover {
        color: magenta; }
    .genre-block ul li:nth-child(n+2):before {
      content: '/';
      position: absolute;
      left: 0;
      font-size: 11px; }

.track-contain, .genre-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.genre-contain h1 {
  font-family: "Barrio", sans-serif;
  text-align: center;
  margin: 0;
  font-size: 4vmax;
  position: relative;
  z-index: 2;
  text-transform: uppercase; }

.genre-contain ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: center;
  margin: 40px auto; }
  .genre-contain ul li {
    display: inline-block;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .genre-contain ul li:hover {
      border: 1px solid magenta; }
    .genre-contain ul li span {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.7);
      color: magenta;
      opacity: 0;
      transition: all 0.4s;
      position: absolute; }
      .genre-contain ul li span:hover {
        opacity: 1; }
    .genre-contain ul li img {
      height: 100%;
      min-width: 100%; }

.nav-link {
  display: block; }

.loader {
  width: 50px;
  height: 10px;
  transform: skewX(45deg);
  background: magenta;
  animation: loading 0.3s linear infinite;
  box-shadow: 0px 0px 10px coral; }

@keyframes loading {
  100% {
    border-radius: 0;
    transform: skewX(45deg) rotate(540deg); } }
